name: Pull Request

on:
  pull_request:
    types: [assigned, opened, synchronize, reopened]

jobs:
  linting:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-python@v2

      - name: Installing Dependancies
        run: |
          pip install -r ./unit-testing-requirements.txt
      
      - name: Running flake8
        run: flake8 --ignore=C901,F821,F403,F405 --max-line-length=127 ./src

  run-unit-tests:
   needs:
     - linting
   runs-on: ubuntu-latest
   
   steps:
     - name: Checkout repo
       uses: actions/checkout@v2
     - name: Run a databricks notebook
       uses: databricks/run-notebook@v0
       with:
         local-notebook-path: ./src/main/tests/test_all.py
         databricks-host: ${{secrets.DATABRICKS_HOST_PRD}}
         databricks-token: ${{secrets.DATABRICKS_TOKEN_PRD}}
         new-cluster-json: >
           {
             "num_workers": 1,
             "spark_version": "11.3.x-scala2.12",
             "node_type_id": "i3.xlarge"
           }